/* Raiz */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Corpo */

body {
    min-height: 100vh;

    background:
        linear-gradient(135deg, #edf2f7, #dbe7f3);

    display: flex;
    flex-direction: row;
}

/* =================================== */
/* Topo da pagina */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;

}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

/* =================================== */
/* Barra Lateral */
.aside {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.nav-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    justify-content: center;
    padding-left: 10px;
}

.nav-cards a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 10px;
}

.nav-cards a:hover {
    background-color: rgba(73, 184, 69, 0.5);
}

/* =================================== */

.conteudo-principal {
    width: 100%;
}

/* Dentro da div do conteudo-principal */
.container-topo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

/* Dentro da div do conteudo-principal */
.cards-principais {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

/* =================================== */
/* Dentro da div card-totais */
.card-totais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.card-totais div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;

    width: 100%;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;

}

.card-totais div .cardsA {
    display: flex;
    flex-direction: column;
}

.imgGeral,
.imgSaldo,
.imgDespesa,
.imgReceita {
    font-size: 50px;
    padding: 0;
    margin: 0;
    width: 0;
}

/* =================================== */
/* Dentro de Cards-totais */
.img {
    /* $ FINANCEIRO - PESSOAL */
    font-size: 35px;
    background-color: rgba(73, 184, 69, 0.5);
    padding: 10px 20px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* =================================== */
/* Dentro de ASIDE */
.logo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: rgba(0, 0, 0, 1);
    padding: 19px;
    justify-content: center;
    align-items: center;
}

.texto p {
    color: rgba(73, 184, 69);
}


.github-link,
.linkedin-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-link img,
.linkedin-link img {
    transition: 0.3s;
}

.github-link img:hover,
.linkedin-link img:hover {
    transform: translateY(-3px) scale(1.03);
}